/* Estilos generales */
body {
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
  text-align: center;
  margin: 0;
  padding: 0;
}

.container {
  padding: 50px;
}

h1 {
  color: #333;
}

button {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #ffcc00;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #ff9900;
}

/* Estilo para la animación de confeti */
@keyframes confeti {
  0%, 100% {
    transform: translateY(0) rotate(0);
  }
  
  25% {
    transform: translateY(-20vh) rotate(180deg);
  }
  
  50% {
    transform: translateY(-40vh) rotate(360deg);
  }
  
  75% {
    transform: translateY(-60vh) rotate(540deg);
  }
}

/* Estilo para el confeti individual */
.confeti {
  position: fixed;
  width: 10px;
  height: 10px;
  background-color: #f0f;
  opacity: 0.8;
  border-radius: 50%;
  animation: confeti 6s ease-in-out infinite;
}

/* Clases para diferentes colores de confeti */
.confeti.red {
  background-color: #f44336;
}

.confeti.blue {
  background-color: #2196f3;
}

.confeti.green {
  background-color: #4caf50;
}

/* Clase para la animación del confeti activada */
.active {
  display: block;
}
